[user]
	email = a@vvt.nu
	name = Rendom
[push]
	default = simple
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[alias]
	remotes = remote -v
	cleanup = git config --global alias.remotes 'remote -v' branch --merged | grep -v '*' | xargs git branch -d
	branches = branch -a
[color]
	ui = 1
